body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f7f2;
    color: #000;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 10px;
    margin: 2%;
    font-size: 1.2rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #004400;
    text-shadow: 0 0 5px rgba(0, 68, 0, 0.3);
}

.main-title {
    font-size: 16rem;
    font-weight: bold;
    color: #004400;
    margin: 12% 0 0 0;
}

.intro { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 40px 0; 
} 

.cat-drawing { 
    width: 70%; 
}

/* ОБО МНЕ */
.about {
    display: flex;
    justify-content: center;
    padding: 240px 0px;
	width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.about-card {
    display: flex;
    gap: 10rem; /* отступ между фото и текстом */
    padding: 20px;
    border-radius: 15px;
    align-items: center;
}

.photo-wrapper {
    background: #004400;
    padding: 20px;
    border-radius: 15px;
}

.profile-photo {
    width: 40vh;
    border-radius: 10px;
    display: block;
}

.about-text {
    text-align: left; /* текст по левому краю */
}

.about-text h2 {
    font-size: 3rem;
    margin: 0 0 30px;
}

.about-text p {
    font-size: 1.5rem;
    margin: 0 0 10px;
	line-height: 2rem;
}

.specialties {
    font-size: 2rem;
    margin-top: 10px;
    text-align: left;
}

/* НАВЫКИ */
.skills {
    text-align: center;
    padding: 40px 20px;
    max-width: 65%;
    margin: 0 auto;
}

.skills h2 {
    font-size: 3rem;
}

.skills h3 {
    font-size: 1.5rem;
}

.skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.skill-tags span {
    background: #004400;
    color: white;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 2rem;
}

/* ГАЛЕРЕЯ */
.gallery {
    padding: 240px 20px;
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
}

.gallery h2 {
    font-size: 3rem;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* всегда 4 колонки */
    grid-template-rows: repeat(2, auto);   /* всегда 2 ряда */
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1 / 1; /* карточки всегда квадратные и одинаковые */
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* картинка подгоняется по размеру */
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery-item span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: white;
    opacity: 0;
    padding: 10px;
    transition: opacity 0.3s ease;
    text-align: center;
}

.gallery-item:hover img {
    transform: scale(1.05);
    filter: brightness(70%);
}

.gallery-item:hover span {
    opacity: 1;
}

/* ОПЫТ */
.experience {
    max-width: 65%;
    margin: 40px auto;
    padding: 20px;
}

.experience h2 {
    font-size: 3rem;
}

.experience-columns {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.experience h3 {
    font-size: 2rem;
}

.experience p {
    font-size: 1.3rem;
}

/* СЛАЙДЕР */
.cat-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: hidden;
    position: relative;
    max-width: 65%;
    margin: 0 auto;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    width: auto;
    max-width: 80%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: auto;
}

.slide.active {
    opacity: 1;
}

/* ФУТЕР */
footer {
    text-align: center;
    padding: 40px 20px;
    font-size: 3rem;
    max-width: 65%;
    margin: 0 auto;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.contacts h2 {
    font-size: 3rem;
}

.contact-links a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
    transition: 0.3s;
}

.contact-links a:hover {
    color: #004400;
    border-bottom-color: #004400;
}

.developed-by {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}

/* АДАПТИВ */
@media (max-width: 2560px) {
    .about-card {
        flex-direction: column;
        text-align: center;
		width: 65%;
    }

    .about-text {
        text-align: center;
    }
}
/* АДАПТИВ */
@media (max-width: 900px) {
    .about-card {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        text-align: center;
    }

    .experience-columns {
        flex-direction: column;
        gap: 20px;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .main-title {
        font-size: 6rem;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }
}
